@import "reset.css";

:root {
  --blue: #165493;
  --red: #F46C68;
  --light-blue: #7AD1E4;
  --beige: #F3ECDD;
}

.red {
  stroke: var(--red);
}
.active.red {
  fill: var(--red);
}
.blue {
  stroke: var(--blue);
}
.active.blue {
  fill: var(--blue);
}
.light-blue {
  stroke: var(--light-blue);
}
.active.light-blue {
  fill: var(--light-blue);
}
.beige {
  stroke: var(--beige);
}
.red:hover,
.blue:hover,
.light-blue:hover,
.beige:hover {
  stroke-width: 4;
}
body {
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.shapes {
  height: calc(100vw*9/16);
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
}

svg {
  position: absolute;
  overflow: visible;
  pointer-events: none;
}
.shape {
  fill: var(--beige);
  stroke-width: 2;
  transition: stroke-width 0.5s, fill 0.5s;
  pointer-events: fill;
}

.shape:hover {
  stroke-width: 4;
}

#shape-1 {
  left: 0.68%;
  top: 2.56%;
}
#shape-1 path{
  d:path('M28.3002 189.8C34.9002 150.7 21.4002 115.1 9.40024 78.7001C2.80024 58.7001 -13.9998 9.70009 23.4002 4.80009C60.8002 8.82149e-05 44.0002 82.2001 96.8002 45.0001C111.8 34.4001 139 -10.8999 164.1 2.40009C190.3 16.2001 169.5 44.6001 158.7 60.8001C121.3 117.2 98.1002 167.6 84.1002 235.3C76.9002 270 65.1002 308.8 66.7002 344.3C68.4002 381.5 92.3002 412.1 95.4002 448.6C97.6002 474.1 91.5002 506 63.5002 514.9C43.6002 521.2 22.0002 512.4 21.1002 491.1C20.3002 472.4 45.2002 459.7 44.6002 437.9C43.8002 408.1 13.9002 386.9 9.60024 357.8C4.60024 324 30.7002 308.1 38.9002 278.7C47.6002 247.4 23.1002 221.2 28.3002 189.8Z');
  animation: morph-shape-1 10s infinite;
}
@keyframes morph-shape-1 {
  50%{
    d:path('M41.3999 204.1C30.9999 169.2 21.7999 130.7 7.79986 58.8002C-0.100145 18.4002 19.3999 -7.69982 56.3999 2.10018C104.8 14.9002 41.7999 156 90.2999 160.9C121.4 164.1 138.4 15.1002 183.4 25.1002C204.4 29.8002 189.5 62.8002 179.2 80.2002C134 157.5 123.8 190.4 139 256.7C146.7 293.3 100.1 329.3 79.4999 361.5C61.3999 399.4 111.5 431.3 108.6 466.5C106.6 491.2 89.2999 522.7 47.6999 537.5C17.8999 548 -4.10014 539.2 0.599855 522.3C6.49985 501.1 58.0999 489.8 66.4999 459.6C74.5999 430.5 19.8999 410 9.09986 373.8C-1.10014 339.8 47.9999 338.8 83.9999 304C109.3 279.7 52.3999 241.1 41.3999 204.1Z')
  }
}

#shape-2 {
  left: 0;
  top: 0;
  transform: translate(6.23%, 1.2%);
}
#shape-2 path {
  d:path('M76.7998 95.0997C94.3998 67.1997 117.3 45.0997 144.9 27.1997C155.2 20.4997 217.9 -17.5003 224 10.2997C227.5 26.1997 174.2 53.0997 163.4 63.0997C138.8 85.8997 118.2 114.1 105.9 145.4C90.9998 183.5 80.4998 307.5 156.9 272.5C215.8 245.5 192.9 122.1 253.9 123.1C271.8 123.4 274.9 146.1 264.9 166.1C237.3 221.3 180.7 332.8 148.2 385.2C139.9 398.5 121.3 431.3 106.4 408.6C92.0998 387 128.3 346.6 109.7 324.9C76.5998 286.4 46.5998 450.9 43.2998 466.8C36.5998 499.6 16.2998 511 6.29981 471.4C-3.80019 431.8 0.49981 382.4 3.99981 342.1C10.9998 259.1 31.7998 166.5 76.7998 95.0997Z');
  animation: morph-shape-2 10s infinite;
}
@keyframes morph-shape-2 {
  50%{
    d:path('M97.7 102.1C117.1 68.7999 152.9 34.5999 184.6 13.3999C195 6.39985 211.9 -5.00014 224.7 2.39986C258.8 22.0999 203.1 56.9999 192.8 68.7999C181 82.1999 175.8 96.6999 179.5 107.6C182.6 116.7 192.1 123.3 209.3 124.5C220.5 125.3 239.1 118.1 256.3 113.8C269.1 110.6 291.5 106.3 297.5 131.3C310.3 184.5 195.8 348.7 172.8 376.6C157.5 395.3 106.5 458.3 89.5 437.3C66.2 408.5 166.3 336.6 144.5 324.5C121.4 311.7 100.5 344.6 81.5 370.3C64.5 393.3 42.3 437.8 16.5 419.3C-22.5 391.3 16.3 360.2 41 310C73.8 243.3 60.1 166.8 97.7 102.1Z')
  }
}

#shape-3 {
  left: 0;
  top: 0;
  transform: translate(12.11%, 1.65%);
  animation: move-3 10s infinite;
}
#shape-3 path {
  d:path('M46.2002 188.7C45.4002 149.2 64.1002 109.3 99.3002 89.5004C130.3 72.1004 192.6 67.3004 203.5 110.4C213.6 150.4 159.4 217.4 140.5 251.4C113.6 299.9 90.7002 344.1 71.9002 399.4C58.3002 439.8 36.0002 510.6 70.6002 537.1C87.7002 550.2 127.1 535.8 140.8 496.8C153.1 461.6 164.8 390.5 209.2 379.4C255.3 367.9 277.4 433 326.2 411.3C365.8 393.7 364.2 343.9 330.3 321.7C294.4 298.2 227 319.1 233.9 249.2C238.4 203.5 292.7 184.6 331.8 193.2C356.1 198.5 427.4 271.6 440.7 272.9C483.3 277 433.9 203.1 434.7 178.3C435.6 151.3 450.1 134.2 466.8 118.2C483.5 102.3 502.2 87.5004 511.6 65.5004C531.6 18.3004 491.4 -16.0996 447.8 7.80038C424.1 20.8004 418.8 43.3004 411 61.7004C403.2 80.1004 392.8 94.4004 358.8 91.1004C310.5 86.4004 290.3 54.5004 242.5 39.6004C194 24.5004 126.5 38.4004 83.9002 63.3004C36.6002 90.9004 1.2002 142 0.000204453 197.7C-1.3998 264.2 47.5002 250.8 46.2002 188.7Z');
  animation: morph-shape-3 10s infinite;
}
@keyframes morph-shape-3 {
  50%{
    d:path('M54.6998 106.1C67.7998 100.1 91.4998 90.7996 108.7 90.0996C133.7 89.0996 158.7 97.0996 153.9 128.6C148.4 164.7 116 210.3 86.7999 255.4C48.7999 314 13.6998 382.8 3.09985 463.3C-2.10015 491.6 -0.900146 542.8 26.2999 556.1C73.9999 582 87.6999 467 98.7999 422.1C113.2 363.6 115.7 275.1 136.1 292.2C217.9 361 280.2 363 305.9 310.2C330.2 260.1 287.6 237.9 252.5 238.4C204.1 241.3 171.4 222.4 200.9 182.1C223.1 149 273.8 143.1 310.3 153.4C340.7 162 386.3 216.8 404.7 207.7C444.6 188 372.5 145.9 379.4 118.3C391.7 68.8996 477.2 86.8996 493 43.4996C499.5 25.5996 485.3 11.1996 463.2 3.39962C440.1 -4.80038 387.7 1.79962 367.7 19.9996C336.3 48.4996 328.7 82.9996 293.9 96.2996C237.6 117.9 237.5 75.2996 205.3 55.4996C165.3 30.9996 131.1 16.4996 92.6998 31.0996C64.8998 41.6996 46.0998 56.7996 33.6998 67.0996C27.6998 72.0996 12.5998 91.8996 13.6998 103.1C15.7998 123.4 43.6998 111.1 54.6998 106.1Z')
  }
}
@keyframes move-3 {
  50% {
    transform: translate(16%, 0.65%);
  }
}


#shape-4 {
  left: 0;
  top: 0;
  transform: translate(27.17%, 8%);
  animation: move-4 10s infinite;
}
#shape-4 path {
  d:path('M193.9 359C220 330.1 258.7 343.5 291.4 333C328.3 321.2 357.2 289.9 370.9 254.4C382.8 223.6 374.9 190.8 403.7 169.2C432.9 147.2 477.2 148.4 510.7 136C539.1 125.5 565.8 109 573 77.1996C580.1 46.1996 564.2 5.19964 529.2 0.699638C445 -10.3004 447.6 131.1 343.2 99.0996C309.8 88.8996 282.6 53.6996 246.1 54.7996C208.7 55.8996 190.2 92.9996 189 126.2C187.8 163.2 205.1 188.6 238.5 201.9C262.3 211.4 309.7 205 302.7 243.3C296 279.9 236.2 280.2 209.5 271.2C170.2 257.9 148.2 225.6 118.2 200.3C96.6 182 33.7 145.5 7.39996 176.5C-20.6 209.6 39.4 229.2 60.1 239.9C93.9 257.3 137.6 294 99.1 332.1C74.3 356.6 39.4 353.9 33.8 396.8C29.4 430.4 54.1 456.3 88.1 454.6C139.6 451.9 164.1 391.9 193.9 359Z');
  animation: morph-shape-4 10s infinite;
}
@keyframes morph-shape-4 {
  50%{
    d:path('M192 289.9C215 264.8 253.9 303.5 283.8 300.7C313.1 297.9 336.7 269.2 350.4 230.4C362.7 196 356.1 156.8 384.8 141C416.2 123.6 466.5 134.6 507.1 127C542.7 120.1 573.7 101 576.2 64.8999C578.2 30.1999 542.9 3.89991 503.9 17.6999C429.6 32.3999 416 112.9 333.6 55.1999C313.7 37.1999 303.9 4.79991 258.9 0.499914C212.8 -3.90009 186.5 22.6999 185.4 48.5999C187.3 79.7999 207.1 104.6 239.5 128.5C260.3 143.8 306.2 163.6 286.9 203.3C270.3 237.5 223 206.6 198.7 182.4C165.6 149.3 145.8 112.5 114.9 91.2999C94.0003 77.2999 42.3003 63.7999 20.4003 80.8999C-37.8997 121.4 45.6003 117.2 67.4003 126.9C101 142 142 189.8 102.8 225.5C78.5003 247.7 16.2003 260.7 11.5003 312.2C8.50029 355.4 77.5003 402.2 120.5 390.2C168.5 376.8 167.5 316.6 192 289.9Z')
  }
}
@keyframes move-4 {
  50% {
  transform: translate(28.4%, 10.4%);
  }
}


#shape-5 {
  left: 0;
  top: 0;
  transform: translate(44.36%, 2.4%);
  animation: move-5 10s infinite;
}
#shape-5 path {
  d:path('M35.1 122.4C63.7 128.5 85 103.3 101.2 84.0001C121.1 60.4001 142.1 42.1001 174.1 39.3001C200.1 37.1001 225.8 46.6001 244.4 64.7001C253 73.1001 258.9 82.7001 264.2 93.4001C268.5 101.9 272 116 281.7 120.5C313.7 135.5 304 83.6001 305.4 71.0001C308.2 46.5001 333.7 37.5001 355.2 45.9001C404.7 65.2001 391.7 139.9 435.8 165.8C482.2 193.1 533.5 138 505.1 93.1001C492.1 72.5001 468.1 69.6001 446.9 62.2001C420.4 52.9001 413 35.4001 396 15.6001C378.6 -4.59993 359.2 -1.49993 337.6 9.90007C309.8 24.6001 290.7 34.6001 259.2 21.5001C232.8 10.5001 210.6 -1.09993 180.9 1.20007C149.7 3.70007 127.9 17.2001 102.7 33.7001C95.3 38.4001 76 52.0001 66.4 46.6001C59.3 42.6001 63.9 38.2001 64.4 31.3001C66 6.40007 46.5 1.60007 26.7 12.8001C-9.59997 33.3001 -10.9 112.6 35.1 122.4Z');
  animation: morph-shape-5 10s infinite;
}
@keyframes morph-shape-5 {
  50%{
    d:path('M12.2999 124.3C40.7999 142.7 68.4999 124.1 92.2999 107.5C121.1 87.3997 150.2 78.0997 185.6 86.0997C218.2 93.4997 228.9 109.8 245.7 136.1C257.9 155.1 273.9 171.2 283.3 140.5C289.6 119.7 282.4 91.6997 293.9 72.6997C305 54.2997 329.1 60.5997 343 72.6997C376.4 101.9 377.4 153.5 396.5 190.7C416.3 229.3 454.2 217.6 469.4 181.7C492.3 127.4 462.7 79.3997 412.6 56.8997C398 50.3997 383.2 45.0997 370.2 35.5997C357 26.0997 345.7 7.59973 330.1 1.79973C299.8 -9.40027 287.4 34.7997 265.7 47.4997C242.4 61.0997 214 44.8997 190 41.4997C154.2 36.4997 130.8 48.2997 101 64.7997C94.7999 68.1997 75.8999 80.6997 68.7999 73.2997C60.6999 64.9997 74.9999 51.1997 79.4999 44.7997C84.9999 36.7997 97.4999 23.9997 88.4999 14.2997C82.1999 7.59973 69.9999 10.7997 62.8999 13.4997C36.5999 23.3997 -25.5001 99.9997 12.2999 124.3Z')
  }
}
@keyframes move-5 {
  50% {
    transform: translate(46.6%, 1.66%);
  }
}

#shape-6 {
  left: 0;
  top: 0;
  transform: translate(69.1%, 2.4%);
  animation: move-6 10s infinite;
}
#shape-6 path {
  d:path('M1.30007 38.8002C6.50007 60.6002 51.9 66.1002 64.6 89.8002C76 111.1 62.5 146.3 77.5 165.1C131.5 233.1 155.4 93.6002 184.4 76.9002C258.4 34.1002 251.8 217.8 293.4 222.2C341.4 227.2 354.2 152.2 383.4 125.5C428.6 84.1002 540 163.3 559.8 87.4002C582.9 -0.999847 440.4 27.4002 400.9 30.6002C321.7 37.0002 239.3 21.3002 160.6 12.3002C138.3 9.80015 -14.1999 -25.6998 1.30007 38.8002Z');
  animation: morph-shape-6 10s infinite;
}
@keyframes morph-shape-6 {
  50%{
    d:path('M2.80031 41.7999C10.9003 68.7999 100.3 42.7999 112.4 67.1999C140.4 124.2 35.0003 179.3 85.4003 216.2C126.4 246.2 155.8 124.8 194.4 117.2C263.3 103.8 305.7 210 349.4 221.2C431.7 242.3 359.3 134.3 387.8 116.5C421.4 95.5999 500 140.6 527.5 95.3999C577.9 12.6999 482.4 2.19988 398.5 50.7999C339.9 84.6999 255.1 41.1999 177.2 21.6999C151.4 15.1999 -19.4997 -32.0001 2.80031 41.7999Z')
  }
}
@keyframes move-6 {
  50% {
  transform: translate(69.1%, 0.9%);
  }
}

#shape-7 {
  left: 1%;
  top: 53%;
}
#shape-7 path {
  d:path('M256.2 438.8C250.7 420.8 267.2 402 272.6 385.9C279.9 364.3 272.7 342.4 258 325.5C220 281.5 170.3 315.1 123.8 299.9C40.8 272.8 85.6 200.1 117.5 152.2C133.4 128.3 153.5 99.7 150.4 69.4C146.3 29.2 106.7 -6.90001 65.5 1.49998C32.2 8.19998 10.4 45.3 4.20004 76.4C-0.599958 100.5 9.60004 149.2 44.6 144.9C65.4 142.4 64.5 112.4 68.4 96.9C72.7 79.7 95.4 53.3 110.8 80.4C122.5 101 92 135 79.8 148.9C58 173.6 24.2 186.1 8.60004 216.2C-16 263.7 25.8 292.3 37.8 333.8C44.8 358.2 34.1 381.3 33.2 405.6C32.4 425.6 37.9 446.3 49.2 462.9C70.9 494.7 123.7 501.7 141.1 460.4C159.8 415.9 96.3 411.6 104.3 371.2C111.9 333.2 169.8 335 196.6 347C214 354.8 234.2 373.1 221.9 393.9C213.9 407.4 195.8 408.1 185.1 418.5C148.8 453.6 207.3 490.5 237.7 496.6C253.9 499.8 282 500.4 283.3 477.3C284.5 459.1 261.1 454.7 256.2 438.8Z');
  animation: morph-shape-7 10s infinite;
}
@keyframes morph-shape-7 {
  50%{
    d:path('M258.2 412.2C256.6 393 278.7 381.6 288.1 368C302.6 346.9 302.6 321.9 292 298.6C270.4 251 222.4 254 177.9 250.7C150.9 248.7 103.1 242.8 98.6001 208.8C95.2001 183 120.8 154.9 134.2 135.4C148.9 114.1 172.1 86.2001 168.5 58.4001C163.4 18.0001 113.4 -0.999924 78.0001 1.10008C33.7001 3.70008 -9.29988 35.2001 2.30012 83.7001C8.30012 109 64.4001 164.7 73.3001 112.3C76.4001 93.6001 57.1001 79.5001 58.3001 62.0001C59.7001 41.9001 84.5001 32.6001 101.7 40.5001C141.4 58.7001 123.4 114.8 98.5001 135.8C74.6001 155.9 1.70012 172.2 6.80012 215C10.9001 249.2 59.7001 253.2 57.9001 294.5C56.3001 330.8 -28.1999 447 27.0001 477.1C63.7001 497.1 115.2 449.1 127.4 419C137.9 393.2 132.2 377.8 119.4 355.8C106.8 334.1 100.2 321.4 124.9 304.4C152.4 285.4 206.6 284.5 231.9 308.4C271.3 345.6 210.5 374.1 187.2 394.4C146.6 429.9 158.8 480.6 209.7 497.1C229.3 503.4 262.4 504.4 274.3 483.4C287.3 460.7 260.1 435.1 258.2 412.2Z')
  }
}

#shape-8 {
  left: 0;
  top: 0;
  transform: translate(6.1%, 41.5%);
  animation: move-8 10s infinite;
}
#shape-8 path {
  d:path('M208.9 260.3C219.6 241.4 225.6 209.1 216.9 188.4C210.4 173.1 180 146.7 161.8 161.3C138.6 179.9 168.6 191.3 167.4 212.1C166.2 233.8 144.1 246.4 122.4 233.9C80.6001 209.8 131.2 99.3001 139.1 63.8001C143.1 45.6001 158.9 6.70008 130.7 1.10008C106.3 -3.69992 95.3001 30.8001 89.0001 47.7001C65.9001 110.1 85.3001 155.7 87.2001 217.7C89.2001 282.2 33.2001 287 12.9001 337.8C6.90006 352.9 -8.19994 382.8 8.60006 393.2C29.6001 406.2 48.2001 378.3 60.1001 365.3C81.2001 342.4 95.8001 327.1 125.7 314.1C156.2 300.8 191.1 291.7 208.9 260.3Z');
  animation: morph-shape-8 10s infinite;
}
@keyframes morph-shape-8 {
  50%{
    d:path('M212.5 227.3C221.2 202.4 220.3 160.5 203.4 142.4C191.1 128.8 145.9 114.3 140.8 137C137.6 153.1 170.8 166.8 166.8 187.7C162.4 210.6 123.7 204.1 109.5 189.2C75.6 159.1 105.2 80.0999 112.3 51.0999C115.8 34.5999 130.3 -2.10014 86.7 1.09986C53.1 3.59986 38 33.6999 33.8 49.6999C28.1 71.0999 23.4 105.1 44.7 130.3C65.2 154.5 88 177.9 82.4 205.1C71.9 246.1 -7.40004 268.6 1.39996 310.5C4.49996 325 20.5 340.5 40.9 331.4C55.7 325.3 61.6 298.2 77 290.7C120.2 271 189.2 282.9 212.5 227.3Z')
  }
}
@keyframes move-8 {
  50% {
    transform: translate(8.2%, 42.7%);
  }
}

#shape-9 {
  left: 0;
  top: 0;
  transform: translate(11.85%, 45.2%);
  animation: move-9 10s infinite;
}
#shape-9 path {
  d:path('M175.1 74.5004C177.6 42.2004 194.3 -2.99957 234.1 0.900432C289.6 6.30043 259 60.5004 245.7 88.9004C231.7 118.9 226.9 148.3 235.9 181C248.6 227.1 269.9 230.2 307.4 247.6C352 268.3 348.9 303.6 341 349.1C334.3 387.7 306.8 450.6 268.6 472.7C234.6 492.3 193.3 463.3 209 424.4C224.5 386.1 281.8 390.2 278.8 338C276.9 304.6 245.7 281.7 213.5 292.3C175.3 304.8 156.8 368.3 151.9 403.7C145.4 449.5 157.8 479.8 180.2 497.4C217.5 526.8 282.8 521 335.2 493.1C364.2 477.7 411.2 452.7 437.6 488C477 540.7 383.2 558.3 350.4 563.9C292.9 573.7 220 573.6 167.1 544.3C137.8 528 114.6 502.8 103.5 465.2C96.9999 443.1 104.1 412.2 88.7999 393.4C73.8999 375.1 52.1999 379.9 32.4999 373.3C-11.7001 358.5 -5.80012 332.2 27.8999 305.3C65.3999 275.3 120.2 275.8 145.4 229.7C168.6 187.1 171.4 121.9 175.1 74.5004Z');
  animation: morph-shape-9 10s infinite;
}
@keyframes morph-shape-9 {
  50%{
    d:path('M155.5 101.3C155.5 69.3003 175.3 16.9003 206.7 3.10029C223.4 -4.19971 243 1.60029 251.8 18.3003C262.4 38.3003 250.3 63.5003 242 82.1003C219.3 133 205.4 183.9 243.2 232.8C274.4 273.2 345.3 251.6 335 316.6C327.8 361.9 303.7 409 286.1 451.2C275.1 477.6 241.9 559.2 199.5 536.6C160.3 515.7 194.3 459.9 216.2 442C251.5 413.2 280.5 386 252.5 338.5C209.7 265.6 154.4 406 144.5 437.3C132.7 474.5 126.1 520 147.6 555C182.5 611.7 244.9 582.2 289.2 558C316.4 543.1 369 520 397.4 546.1C436.4 581.9 375.8 619.2 347 628.2C270.5 652 166.3 663.5 116.3 586.4C100.8 562.6 91.4 532.7 88.6 504.5C86.6 484.5 91.8 461.4 85.9 441.9C75.4 407.4 -9.00004 403.7 1.59996 369C7.29996 350.3 49.2 341.5 65.1 335.5C89.2 326.4 114.3 316.8 130.9 296C171.6 244.9 155.5 161.4 155.5 101.3Z')
  }
}
@keyframes move-9 {
  50% {
    transform: translate(13.8%, 39.2%);
  }
}

#shape-10 {
  left: 0;
  top: 0;
  transform: translate(27%, 29%);
  animation: move-10 10s infinite;
}
#shape-10 path {
  d:path('M364.4 138.701C327.3 169.001 276 154.201 235 174.701C194.7 194.901 180.1 241.501 142.7 264.801C106.9 287.101 65.2999 270.301 29.1999 287.501C-19.0001 310.401 0.0999184 344.001 33.2999 365.701C64.6999 386.201 88.5 394.801 94.9 437.701C102 485.101 68.4 535.401 83.9 581.701C98.3 624.601 145.3 634.301 171.1 594.601C195.5 557.101 176.9 499.201 171 459.401C165.9 425.401 143 355.201 181.3 330.201C227.7 299.901 236.5 362.301 251.2 389.201C269 421.701 303.3 442.901 323.7 396.201C343.1 351.701 315.4 309.601 346.7 265.501C401.9 187.801 474.3 165.601 467 56.4007C465.2 29.8007 450.5 -23.0992 416.3 11.7008C406.2 22.0008 408.2 62.2008 403.8 76.1008C396.3 99.6008 383.9 122.701 364.4 138.701Z');
  animation: morph-shape-10 10s infinite;
}
@keyframes morph-shape-10 {
  50%{
    d:path('M334.7 157.8C305.4 182.7 259.4 152.6 225.3 155.5C191.3 158.4 184.5 196.4 157.7 214.1C124 237.8 74.2002 210.8 31.2002 233.8C-16.9998 261.1 -3.99982 295.7 34.2002 317.3C74.2002 339.9 105.4 346.1 105.3 401.2C105.2 457.4 54.6002 518.6 59.0002 574.8C64.1002 626.1 113.2 635.7 148.1 591.3C183.1 546.9 181.5 469.5 183.8 418.4C185.7 377.1 160.2 291.3 208.3 290C251.3 289.5 257 352.8 268.3 384.2C288.4 429.4 307.6 418.4 307.2 384.4C306.8 345.1 303.8 308.5 327.5 277.1C351.1 247.9 387.9 229.2 411.1 193.9C426 161.2 435.9 78.1003 425 33.0003C417 0.000282288 391.7 -11.9997 379 14.0003C356.2 61.0003 367.3 130.1 334.7 157.8Z')
  }
}
@keyframes move-10 {
  50% {
    transform: translate(29%, 29%);
  }
}

#shape-11 {
  left: 0;
  top: 0;
  transform: translate(52.8%, 14.5%);
  animation: move-11 10s infinite;
}
#shape-11 path {
  d:path('M18.6 298.3C28.4 313.8 53.8 329.1 68.6 310.6C78.4 298.4 69.7 279.6 78.2 267.5C84 259.2 91.5 257.8 98.1 265.7C105.5 274.5 96.3 286.4 98.7 295.9C107.8 332.4 152.4 271.8 163 265.7C207.3 239.9 209.6 325.5 222.5 345.5C253.4 393.5 305.4 337.4 330.4 315C344.2 302.7 363.4 287.5 382.9 294.8C401.4 301.7 414.4 332.1 437.3 326.6C462.5 320.6 475.8 271.3 483.5 251C500.3 206.7 518.3 163 534.5 118.5C543.1 94.8998 557.3 66.8998 552.5 41.0998C548.9 21.5998 528.6 -0.200153 507 9.59985C471.5 25.5998 497.7 84.2998 458.1 102.4C406.8 125.9 361.8 64.1998 310.1 75.1998C291.6 79.0998 273.8 96.2998 276 116.6C278.5 140 304.1 145.5 323.5 145C346.9 144.4 368.6 138.8 390.9 149.4C408.6 157.8 424.2 175 417 195.4C406.2 225.8 357.1 248.1 328 253.4C272.8 263.5 236.4 223.7 230.5 171.7C227.3 143.8 233.7 118.5 240.1 91.5998C245.7 67.8998 249.3 40.7998 232 20.9998C200.4 -15.1002 145.1 1.59985 124.4 39.5998C111.8 62.6998 111.6 87.4999 116.1 112.8C119.4 131.3 128.9 166.1 105.4 175.6C81.6 185.2 63.5003 113.1 52.5003 100.5C41.9003 88.4 13.0003 91.5998 6.5003 116.6C-7.82605 171.7 4.30001 275.6 18.6 298.3Z');
  animation: morph-shape-11 10s infinite;
}
@keyframes morph-shape-11 {
  50%{
    d:path('M29.6 333.3C42.5 341.6 60 339.1 65.7 324.1C72.3 306.7 60.3 285.1 60.6 267.3C60.8 254.2 70.7 237.3 86.4 243.9C100.1 249.6 96.1 274.2 108.4 278.7C135.4 288.7 154.4 245.7 173.7 250.6C217.3 261.8 202.2 332.5 238.8 351C259.8 361.6 283.5 342.2 300.1 331.2C321.9 316.7 348.1 299 375.6 303.1C398.4 306.5 408.7 326 428.2 335.1C452.2 346.3 473.8 333.1 488.6 314.1C502.4 296.4 513.7 275.3 523.2 253C536.6 221.5 546.2 187.6 553.4 157.4C563.7 114.1 588.7 24.0001 529.5 3.00005C473.4 -16.8999 495.9 64.6001 481.5 87.9001C458.8 124.8 378.5 114.5 342.3 116C305.7 117.4 254.2 118.7 247.2 165.9C244.4 184.9 256.1 196.3 273.1 202.4C293.1 209.6 308.4 203.1 326.2 194C348.9 182.4 397.8 143.7 419.9 174.1C448.9 213.9 379.3 243.4 351.9 252.1C306.8 266.5 252.4 256.8 225.1 215.5C206.8 187.8 218 154.6 225.9 125.2C232.9 99.4001 247.1 53.2001 223 31.9001C202.9 14.1001 174.1 30.0001 156.8 43.6001C130.9 64.1001 115.2 91.5 109 123.7C105.7 141 115.8 182.6 90.4 182C71.9 181.5 64.8 161.5 53.4 150.4C38.8 136.2 18.4 136 6.10003 154.8C-7.49997 175.9 1.90003 315.6 29.6 333.3Z')
  }
}
@keyframes move-11 {
  50% {
  transform: translate(52.8%, 13.8%);
  }
}

#shape-12 {
  left: 0;
  top: 0;
  transform: translate(38.5%, 48%);
  animation: move-12 10s infinite;
}
#shape-12 path {
  d:path('M283.4 203C287.6 262.7 286.5 336 237 378.6C217.8 395.1 175.6 414.1 158.6 383.4C147.4 363.3 177 323.1 139.4 320.4C89.6001 316.8 96.2 436.2 48.6 449C-7.7 464.1 -4.39999 384.6 9.30001 349.1C21.1 318.7 45 276.5 68.5 258C96.3 236.1 141.1 252.3 163.3 222.1C191.3 184.1 168.6 125.4 181.8 70.4003C187.9 44.9003 212.8 -13.8997 246.1 3.3003C284.4 23.2003 280.9 167 283.4 203Z');
  animation: morph-shape-12 10s infinite;
}
@keyframes morph-shape-12 {
  50%{
    d:path('M228.2 166.801C248.5 215.401 277.5 283.001 221.4 335.801C200.4 359.001 169 371.601 163.3 339.601C159.5 318.301 188.1 277.201 155.6 279.901C114.9 279.501 93.5001 401.901 48.7001 420.901C-40.2999 458.801 17.1 333.201 38.5 295.301C55.8 264.701 71.6 220.101 99.3 215.401C125.2 211.001 144.6 228.501 153.7 205.801C165.8 168.001 138.2 108.701 168 55.8006C185.3 25.1006 228.4 -24.6994 246.6 15.5006C259.8 55.3006 213.5 132.101 228.2 166.801Z')
  }
}
@keyframes move-12 {
  50% {
  transform: translate(38.5%, 50.6%);
  }
}

#shape-13 {
  left: 0;
  top: 0;
  transform: translate(53.2%, 47%);
  animation: move-13 10s infinite;
}
#shape-13 path {
  d:path('M27.4 1.19996C-38.6 16.2 36.4999 138.9 43.9999 226.8C52.3999 325.2 -6.10006 455.8 67.9999 445.8C150.9 434.6 57.6 297.9 126.9 274.4C164.6 261.7 184.4 311.7 205.4 333.6C231 360.4 264.1 379.2 300.6 385.9C341.6 393.4 387.5 386.5 423 363.6C445.8 348.9 481.7 313.5 439.1 300.5C405.3 290.3 367.6 331.9 327.8 315.3C281.2 295.8 308.9 261.7 289.7 228.7C271 196.7 227.1 212.7 195.8 206.3C158.7 198.7 107.2 173.3 88.5999 137.8C70.1999 102.6 73.5 -9.30004 27.4 1.19996Z');
  animation: morph-shape-13 10s infinite;
}
@keyframes morph-shape-13 {
  50%{
    d:path('M73.1 0.900666C-15.8 -4.69933 -2.59995 241.501 10 296.801C16.2 324.001 30.2001 410.401 68.9001 411.801C124 413.801 90.2 313.801 88 288.201C82.7 226.301 149.3 189.301 195.8 237.501C227.1 270.001 240.6 312.001 280.1 338.101C315.2 361.301 351 360.901 391.2 355.801C415.2 352.801 479 343.601 462.4 302.701C449.2 270.201 404.7 287.101 381.5 291.501C350.2 297.301 323.3 296.101 304.4 267.301C281.2 231.901 310.2 178.201 268.6 155.201C219.8 128.201 87.9001 210.501 57.9001 151.201C45.5001 126.601 116.2 3.60067 73.1 0.900666Z')
  }
}
@keyframes move-13 {
  50% {
  transform: translate(52.8%, 47%);
  }
}

#shape-14 {
  left: 0;
  top: 0;
  transform: translate(58.5%, 44%);
  animation: move-14 10s infinite;
}
#shape-14 path {
  d:path('M16.2001 126.5C28.0001 154.4 55.8001 179.1 87.5001 177.3C126.9 175.1 161.6 131.2 188.6 107C203.5 93.6004 271.7 44.2004 243.8 22.1004C221.2 4.20039 167.2 75.0004 153.4 88.6004C128.6 113 88.5001 136.6 85.1001 83.2004C83.0001 51.3004 89.2001 8.20039 52.4001 2.00039C-22.4999 -10.5996 1.80014 92.2004 16.2001 126.5Z');
  animation: morph-shape-14 10s infinite;
}
@keyframes morph-shape-14 {
  50%{
    d:path('M12.7001 160.7C27.7001 191.2 65.7001 190.9 99.4001 176C135.7 159.9 171.4 119 204.4 97.0003C217.6 88.2003 278.6 72.2003 253 50.4003C227.1 27.2003 174.7 80.3003 162.7 89.2003C145.2 102 109.2 130.7 97.6001 99.4003C87.0001 72.4003 99.1001 10.5003 64.5001 2.00029C-20.4999 -18.9997 0.100123 135 12.7001 160.7Z')
  }
}
@keyframes move-14 {
  50% {
  transform: translate(58.5%, 42.3%);
  }
}

#shape-15 {
  left: 0;
  top: 0;
  transform: translate(68.6%, 26.85%);
  animation: move-15 10s infinite;
}
#shape-15 path {
  d:path('M37.7001 482.2C51.1001 508.5 85.6001 520.5 112.3 508.3C142.3 494.5 148.5 434.8 176.3 487.3C186.9 507.4 188.2 560.1 225.5 544.5C266.6 527.2 228.8 457 219.2 431.5C211.2 410.2 171.2 339.6 199.1 321.9C232.4 300.6 227.7 383.1 264.6 349.5C289.4 326.9 257.2 285.1 249.5 262.8C237.6 228.2 237.4 189.7 248.3 154.8C258.3 122.3 369.6 16.9995 300.6 2.09953C226.6 -13.8005 198.4 146.8 195.3 192.9C194 211.8 189.3 296 149 280.3C129.1 272.6 139.6 233.1 112 226.7C51.0001 212.5 114.7 365.2 108.9 398.6C92.6001 492.5 58.4001 344 38.9001 332.9C9.80006 316.7 -3.69994 347.6 0.90006 372.6C4.20006 390.7 19.7001 405.2 25.2001 422.9C31.2001 442.4 28.1001 463.5 37.7001 482.2Z');
  animation: morph-shape-15 10s infinite;
}
@keyframes morph-shape-15 {
  50%{
    d:path('M34.1005 451C46.3005 485.8 83.1004 498.9 112.2 485C144 478.6 151.3 427.4 179.6 486C190.4 508.4 192.101 574.6 229.801 563C272.401 552.8 235.4 467 226.1 440.7C218.5 418.8 183.3 347.2 219.7 335.3C265.2 321.9 246.401 389.3 290.401 371.4C325.101 357.3 299.5 312.3 296.2 290.3C291.1 256.1 298.4 218.7 314.6 183.1C329.3 150.7 417.5 12.2004 346 1.00036C267 -12.7996 252.1 167 242.5 213C238.4 231.7 213.8 309.7 167.5 289.2C144.6 279.1 163.9 242.7 130.6 234.2C58.9005 216.4 121.186 386.9 105 409C79 444.5 60.3004 333.1 40.7004 322C11.4004 304.8 -2.99951 325.7 1.00049 344.1C3.90049 357.1 19.2005 370.8 24.1005 386.9C29.6005 405.1 25.4005 426.2 34.1005 451Z')
  }
}
@keyframes move-15 {
  50% {
  transform: translate(68.4%, 26%);
  }
}

#shape-16 {
  left: 0;
  top: 0;
  transform: translate(83.17%, 18.7%);
  animation: move-16 10s infinite;
}
#shape-16 path {
  d:path('M202.8 246.6C180.5 291.9 148.6 325.8 145.9 379.1C144.3 410.1 152 465.1 194.2 463.9C234.8 462.8 233.1 417.6 233 389.2C232.8 344.7 241.1 307.5 258.1 266.4C287.6 195.2 344.3 92.2995 275.7 23.7995C253.4 1.49952 199.8 -14.9005 185.9 26.3995C177.6 51.2995 220.2 106.5 167.6 96.8995C150.3 93.7995 144.4 73.7995 124.3 73.2995C102.9 72.6995 87.5999 90.4995 79.9999 108.3C63.7999 146.4 79.4999 189.4 60.3999 227.8C41.2999 266.4 9.59992 289.9 2.59992 334.9C-3.00008 370.8 4.49992 428.6 42.3999 446C139.7 490.8 103.4 298.1 112.6 257C118.4 231 137.3 168.5 168.2 158.6C219.5 142.2 215.9 220.1 202.8 246.6Z');
  animation: morph-shape-16 10s infinite;
}
@keyframes morph-shape-16 {
  50%{
    d:path('M209.501 302.5C198.401 360.2 160.301 396 145.501 447.8C136.901 478 126.2 552.9 166 550.5C204.2 548.2 214.201 480.7 218.601 452.5C225.401 408.3 236.101 368.5 247.801 316.3C268.001 225.9 286.501 84.8001 210.901 19.1001C186.301 -2.29995 139.401 -11.5 140.801 28.7C141.701 52.9 192.801 113.7 150.501 108.5C136.601 106.8 124.801 82.7 108.901 84.9C92.1007 87.2 86.4006 112 86.2006 136.9C84.8006 190.3 104.701 220.6 86.2006 266.5C66.4006 308.8 28.6002 329.8 8.50024 371C-7.49976 403.9 -1.3996 442.1 34.0004 461C93.7006 492.874 125.801 369.2 138.301 324.3C145.901 295.5 152.301 212 172.301 193.5C204.801 162.5 219.401 251.2 209.501 302.5Z')
  }
}
@keyframes move-16 {
  50% {
  transform: translate(85.3%, 13.78%);
  }
}

#shape-17 {
  left: 0;
  top: 0;
  transform: translate(36.8%, 81.3%);
  animation: move-17 10s infinite;
}
#shape-17 path {
  d:path('M84.4998 116.1C61.2998 120.4 -12.8002 102.5 2.79984 155.4C11.8998 186.4 59.3999 187.6 84.3999 185.5C127.9 181.9 164.6 150.5 208.4 150.2C248.2 150 273.4 174.5 310.1 183C386.4 200.6 457.5 143.901 539.7 156.801C587.2 164.301 747.5 203.1 732.7 84.1004C725.9 28.9004 668.4 49.1004 651.4 78.1004C627.7 118.5 596.3 123.4 557.6 79.7005C535.9 55.2005 532.1 -1.89952 487 0.400484C449.6 2.30048 445 45.6004 433.1 71.1004C392.1 159 361.6 121.8 297.5 86.7005C210.2 39.1005 165.4 101.2 84.4998 116.1Z');
  animation: morph-shape-17 10s infinite;
}
@keyframes morph-shape-17 {
  50%{
    d:path('M84.5998 189.8C59.3998 194.5 -10.8002 174.7 1.49976 229.5C11.1998 266.3 70.4998 262.5 97.5998 256.9C137.8 248.6 173.2 221.6 215.8 221.4C265.7 223.3 314.2 268.7 367.7 262.2C467.1 250.2 490 211.5 515 197.5C575.4 163.7 642.514 291.666 707.5 165.9C724.5 133 702.5 100.4 687.1 102.2C653.1 106.2 635.1 154.2 598.4 128.3C538.2 85.7998 526 -4.80025 473 0.199755C424.8 4.69975 430.7 127.2 418.6 165.9C411 208.2 357.5 164.6 308.7 139.1C227.8 86.0998 163.2 175.1 84.5998 189.8Z')
  }
}
@keyframes move-17 {
  50% {
  transform: translate(36.9%, 74.44%);
  }
}

#shape-18 {
  left: 0;
  top: 0;
  transform: translate(76.88%, 59.4%);
  animation: move-18 10s infinite;
}
#shape-18 path {
  d:path('M298.2 67C248 63.4 134.6 -24.2 105.7 61.3C94.1997 95.4 120.8 127.6 124.1 160.8C128.5 205.2 97.7998 223.2 62.7998 242.2C-10.7002 282.2 -28.6003 376.6 58.5997 417.3C97.7997 435.6 146 430.3 183.2 409.1C212.8 392.3 238.5 356.5 205.1 329.2C183.5 311.5 145.3 324.2 133.7 291.6C120.6 254.8 164.6 223.7 195.6 220.5C235 216.5 267.2 242.6 277.9 278.9C287.6 311.7 265.9 365.7 309.7 379.7C386.8 404.2 402.9 258 382 214.3C367.1 183.2 332.3 170.7 300.3 166.3C278.4 163.3 211 174.5 221.5 135.1C231.6 97.1999 313.7 122.5 338.4 122.3C380.1 122.1 408 102 418.7 60.9C425.1 36.4 431.6 -9.8 399.4 2.4C386.6 7.3 370.4 38.3 358.4 47.3C340.8 60.6 320.7 68.6 298.2 67Z');
  animation: morph-shape-18 10s infinite;
}
@keyframes morph-shape-18 {
  50%{
    d:path('M338.2 69.7999C288.6 66.1999 182.4 -25.3001 136.7 56.6999C126.7 87.4999 152.9 125.8 154.2 166.1C156.7 220.9 124.6 242.4 85.4001 247.4C10.4001 253.7 -21.0999 320.2 15.6001 362.5C88.5001 431.8 296.6 424.7 268.4 340.2C257.2 306.7 222.5 314.4 194.9 306.5C148.2 293.7 186.5 253.9 215.7 243.3C251.5 232.3 286 250.6 300.4 283.4C315.1 312.5 308 338.4 324 375.7C339.4 419.2 378.9 400.3 397.2 366.9C417.3 329.2 423.8 258.9 416.9 224.4C409.7 187.9 382.6 173.8 348.8 168.9C328.2 165.9 249.2 184.8 253.6 143.9C258.4 99.9999 337.3 119 357.6 119.8C399.5 120.6 434.8 110.3 452 69.0999C459.7 50.6999 472.8 -8.70013 444.6 1.59987C434.4 5.29987 415 37.1999 404.9 45.3999C385.2 61.2999 363.6 71.6999 338.2 69.7999Z')
  }
}
@keyframes move-18 {
  50% {
  transform: translate(75.48%, 61.43%);
  }
}

@media (min-width: 481px) and (min-aspect-ratio: 16/9) {
  .shapes {
    height: calc(100vw*9/16);
    width: 100vw;
  }
}
@media (min-width: 481px) and (max-aspect-ratio: 16/9) {
  .shapes {
    height: 100vh;
    width: calc(100vh*16/9);
  }
}
@media (max-width: 480px) {
  .shapes {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(2.5);
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .shapes {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    height: 100vw;
    width: calc(100vw*16/9);
  }
}
