@import "reset.css";

:root {
  --blue: #165493;
  --red: #F46C68;
  --light-blue: #7AD1E4;
  --beige: #F3ECDD;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.red {
  stroke: var(--red);
}
.active.red {
  fill: var(--red);
}
.blue {
  stroke: var(--blue);
}
.active.blue {
  fill: var(--blue);
}
.light-blue {
  stroke: var(--light-blue);
}
.active.light-blue {
  fill: var(--light-blue);
}
.beige {
  stroke: var(--beige);
}
.red:hover,
.blue:hover,
.light-blue:hover,
.beige:hover {
  stroke-width: 4;
}
.active {
  z-index: 10;
}

.bubble {
  border: 10px solid var(--red);
  border-radius: 50%;
  mix-blend-mode: multiply;
  z-index: 15;
  position: absolute;
}
.crabWrap {
  position: absolute;
  top: 0;
}

svg {
  will-change: transform;
}

body {
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.shapes {
  height: calc(100vw*9/16);
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
}

svg {
  position: absolute;
  overflow: visible;
  pointer-events: none;
}
.shape {
  fill: var(--beige);
  stroke-width: 0;
  transition: stroke-width 0.3s, fill 0.4s;
  pointer-events: fill;
}

.shape:hover {
  stroke-width: 4;
}

#shape-1 {
  left: 0.68%;
  top: 2.56%;
}

#shape-2 {
  left: 6.23%;
  top: 1.2%;
}

#shape-3 {
  left: 12.11%;
  top: 1.65%;
}

#shape-4 {
  left: 27.17%;
  top: 8%;
}

#shape-5 {
  left: 44.36%;
  top: 2.4%;
}

#shape-6 {
  left: 69.1%;
  top: 2.4%;
}

#shape-7 {
  left: 1%;
  top: 53%;
}

#shape-8 {
  left: 6.1%;
  top: 41.5%;
}

#shape-9 {
  left: 11.85%;
  top: 45.2%;
}

#shape-10 {
  left: 27%;
  top: 29%;
}

#shape-11 {
  left: 52.8%;
  top: 14.5%;
}

#shape-12 {
  left: 38.5%;
  top: 48%;
}

#shape-13 {
  left: 53.2%;
  top: 47%;
}

#shape-14 {
  left: 58.5%;
  top: 44%;
}

#shape-15 {
  left: 68.6%;
  top: 26.85%;
}

#shape-16 {
  left: 83.17%;
  top: 18.7%;
}

#shape-17 {
  left: 36.8%;
  top: 81.3%;
}

#shape-18 {
  left: 76.88%;
  top: 59.4%;
}

@media (min-width: 481px) and (min-aspect-ratio: 16/9) {
  .shapes {
    height: calc(100vw*9/16);
    width: 100vw;
  }
}
@media (min-width: 481px) and (max-aspect-ratio: 16/9) {
  .shapes {
    height: 100vh;
    width: calc(100vh*16/9);
  }
}
@media (max-width: 480px) {
  .shapes {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(2.5);
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .shapes {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    height: 100vw;
    width: calc(100vw*16/9);
  }
}
